body {
cursor: url('img/cursor.png'), auto;
margin: 0;
background-color: rgb(62, 34, 128);
height: 100vh;
}

.you{
left: -66px;    
}
.face, .you{
right:10%;
bottom: 0px;
position: relative;
}
        
.you{
right:74%;
}
        
.face{
right: 165px;   
}
.x{
left: 30px;
position: relative;
}

#imagenes {
z-index: 10;
position: absolute;
display: flex;
align-content: space-around;
align-items: center;
top: 1100px; 
left: 56%; 
transform: translateX(-50%); 
}

.cuad {
border: 3px solid white;
position: absolute; 
top: 1120px;
left: 50%;
width: 370px; 
height: 50px;
transform: translate(-50%, -50%);
border-radius: 10px;
background-color: rgba(15, 11, 77, 0.678);
}
.lin, .line{
border: 2px solid white;
background-color: white;
position: absolute;
top: 1120px;
left: 46%;
width: 2px;
height: 50px;
transform: translate(-50%, -50%);
}
#opciones {
position: relative;
display: flex;
flex-wrap: wrap;
bottom: 1px;
font-family: "Bebas Neue", sans-serif;
color: rgb(73, 31, 141);
text-align: center;
width: 100%;
justify-content: center;
padding-left: 5px;
}
    
#opciones li {
margin: 30px; 
border: 2px solid rgb(255, 255, 255);
width: 30px;
height: 20px; 
padding: 19px; 
background-color: aliceblue;
border-radius: 10px;
list-style: none;
cursor: pointer;
position: relative;
bottom: 20px;
}

        


#opciones .boton{
background-color: rgb(255, 255, 255);
border: 2px solid rgb(255, 255, 255);
color: rgb(176, 161, 245);
background-color: white;
transform: scale(1.05);
box-shadow: 0 0px 15px rgb(0, 255, 234); 
}

.cuadro{
border: 6px solid none;
position: absolute;
background-color: aliceblue;
height: 19px;
width: 1%;
border-radius: 100%;
z-index: 80;
left:72%;
top: 46px;
}
.cuadrod{
border: 6px solid none;
position: absolute;
background-color: aliceblue;
height: 19px;
width: 1%;
border-radius: 100%;
z-index: 80;
right:72%;
top: 46px;
}
.linea{
border: 6px solid none;
position: absolute;
background-color: aliceblue;
top: 8%;
left: 50.5%;
height: 30px;
width: 34%;
transform: translate(-50%, -50%);
z-index: -1;
}
.lin, .line {
border: 2px solid white;
position: absolute;
background-color: aliceblue;
top: 1120px;
left: 56%;
width: 2px;
height: 50px;
transform: translate(-50%, -50%);
}
    
.lin{
left: 43%;
}
h1{
position: absolute; 
top: 100px;   
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;
left: 47%;
text-decoration: underline;
}

#venta{
display: flex;  
justify-content:space-around;
top: 80px;
position: relative;
filter: drop-shadow(10px 0px 10px);
color: rgb(29, 7, 58);

}
#ventad{
display: flex;  
justify-content:space-around;
top: 200px;
position: relative;
filter: drop-shadow(10px 0px 10px);
color: rgb(29, 7, 58);
}
.uno{
position: absolute; 
top: -22px;  
}
.derecha{
position: absolute;
top: -20px;
}

.dos{
position: absolute;
}
.paquete li{
list-style: none;
font-family: "Bebas Neue", sans-serif;
font-weight: 400;
font-style: normal;

}
